plotly
jupytext
dash_bootstrap_components
jupyterlab
ipywidgets
pandas
pandas-stubs
plotly-resampler
trace_updater
numpy
ipython
pytest
dash[testing]
pre-commit
black
isort
mypy
bandit
execnet
ruff
selenium
setuptools_scm
types-setuptools
nox
wheel
PyQt6; python_version >= "3.8"
PyQt6-WebEngine; python_version >= "3.8"
git+https://github.com/predict-idlab/tsdownsample.git#egg=tsdownsample; python_version >= "3.12"

